<Main>
    <CreateOU>
        Путь где будет создана OU с ресурсной группой
        <PathCreateGroups>OU=Groups,OU=DataCenterEM01,DC=passport,DC=local</PathCreateGroups>
        Путь где будет создана OU с серверами
        <PathCreateServers>OU=Servers,OU=DataCenterEM01,DC=passport,DC=local</PathCreateServers>
        Путь где будет создана ресурсная группа ($name - название ИС)
        <PathCreateGroup>OU=</PathCreateGroup>
        Имя создаваемой группы ($name - название ИС)
        <NameGroupn>IS_</NameGroupn>
        <NameGroupk>_Admins</NameGroupk>
        Названия групп, которые будут по умолчанию включеный в созданную группу
        <DefaultAddMember>EM_linux_Admins,EM_DataCenter_Admins</DefaultAddMember>
        </CreateOU>

    <CreateCMP>
        Имя ресурсной группы
        <NameGroupn>IS_</NameGroupn>
        <NameGroupk>_Admins</NameGroupk>
        Параметр $msSFU30NisDomain
        </CreateCMP>

    <CreateUsers>
        Содержание отправляемого файла
        <filetext>
                Для подключения к серверам с ОС Windows необходимо использовать учетные данные в таком виде: Passport\SAM
                Для подключения к серверам с ОС Linux необходимо использовать учетные данные в таком виде: ssh SAM@0.0.0.0, где 0.0.0.0 - IP адрес сервера.
                Для подключения к панели мониторинга необходимо использовать учетные данные в таком виде: SAM
                </filetext>
        Содержание тела письма (ОЕМ)
        <Body1>
            Добрый день.
            В описании архитектуры ИС is Вы указаны как Лицо ответственное за мониторинг (пункты 2.6 и 9). В соответствии с ГК ЦОД Соцсфера Вам настроено уведомление по email о системных событиях на инфраструктуре ИС, которую вы поддерживаете. 
            
            Также доступен web-интерфейс системы мониторинга по адресу: monitoring.e-moskva.ru.
            Учетные данные для авторизации во вложении, в соответствии с практикой передачи конфиденциальных данных сведения находятся в архиве с паролем, пароль на архив готовы передать по телефону в подписи письма.
            
            Регистрируемые в HPSM критические события, в круглосуточном режиме обрабатываются техническими специалистами ЦОД. Ввиду того, что эти события потенциально могут повлиять на функциональную доступность ИС и дополнительно потребовать планирования контрольно-восстановительных работ СТП ИС, мы можем настроить для Вас уведомление по СМС. Для подключения или отключения СМС, настройки доступа к monitoring.e-moskva.ru, необходимо направить обращение на адрес datacenter@e-moskva.ru . Принимая решение  о подключении к информированию СМС, просим учитывать избыточный и технический характер сообщений.

            Во вложении шаблон с типовыми параметрами мониторинга инфраструктуры ИС. Уведомляем, что настроенные ранее параметры мониторинга работы приложений, сервисов и доступности ссылок временно неактуальны. Немного позднее мы продолжим мониторинг сервисов и приложений, и перечень доступных параметров направим Вам позднее.


            С уважением,

            Управление системных и прикладных сервисов
            ГБУ «Инфогород»

            Тел.: +7(495) 989-80-34  (1354,1398) 
            </Body1>
        Содержание тела письма (доступ админов)
        <Body2>
            Добрый день.
            
            Для управления серверами ИС is в технологическом домене ЦОД были созданы персональные учетные данные.
            Доступ предоставлен согласно описанию архитектуры ИС (пункт 9).

            Учетные данные для авторизации во вложении, в соответствии с практикой передачи конфиденциальных данных сведения находятся в архиве с паролем, пароль на архив готовы передать по телефону в подписи письма.

            Если у Вас возникли вопросы, то Вам необходимо направить обращение на адрес datacenter@e-moskva.ru 

            С уважением,

            Управление системных и прикладных сервисов
            ГБУ «Инфогород»

            Тел.: +7(495) 989-80-34  (1354,1398) 
            </Body2>
        <Body3>
            Добрый день.
            
            Для доступа к системе контроля версий в технологическом домене ЦОД были созданы персональные учетные данные.

            Учетные данные для авторизации во вложении, в соответствии с практикой передачи конфиденциальных данных сведения находятся в архиве с паролем, пароль на архив готовы передать по телефону в подписи письма.

            Если у Вас возникли вопросы, то Вам необходимо направить обращение на адрес datacenter@e-moskva.ru 

            С уважением,

            Управление системных и прикладных сервисов
            ГБУ «Инфогород»

            Тел.: +7(495) 989-80-34  (1354,1317,1398) 
            </Body3>
        <Subject1>Мониторинг IS</Subject1>
        <Subject2>Доступ к серверам IS</Subject2>
        <Subject3>Доступ к системе контроля версий</Subject3>
        </CreateUsers>
    </Main>